:root {
    --primaryColor: #262262;
    --secondaryColor: #707070;
    --accentColor: #E5B738;
}
.sectionFeatures {
    background: url("../images/dock.jpeg") no-repeat 50% -1600px;
    
    margin: 0 auto 0 auto;
    height: 800px;
    width: 100%;    
    display:grid;
    grid-template-columns: 100%;
    grid-template-rows: 600px 100px;
    align-content: flex-end;
    overflow-y: hidden;
    grid-template-areas: 
        "featureContent"
        "banner"
        
    ;
 
    justify-content: center;
    align-content: center;
    row-gap: 10px;
    z-index: 1;
}

.featuresContent {
    z-index:2;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    display: grid;
    grid-template-columns: 650px;
    grid-template-rows: 140px 100px 200px;
    grid-template-areas: 
     "cultivate"
    "personalGrowth" 
     "helpContent" 
    ;
    align-self: flex-end;
    justify-items: center;
    align-items: center;
}
.contentText p {
    opacity:1;
}
.cultivateContent {
    grid-area: cultivate;
    z-index:1;
    justify-items: center;
    align-items: flex-start;
}
.cultivateContent .contentText {
    margin-left: -30px;
}
.personalGrowthContent  {
    z-index:1;
    width: 700px;
    grid-area: personalGrowth;
}
.helpContent {
    grid-area: helpContent;
    z-index:1;
    background-color: none;
    margin:auto;
    padding:auto;
    border:white solid 2px;
    border-radius: 10px;
}
.pgContentText {
    width: 700px;
}
#cultivateId {
    width: 450px;
}
.contentContainer {
    display:flex;
    width: 700px;
    align-items: flex-start;
    justify-items: flex-start;
    background-color: white;
    opacity: .7;
    margin:auto;
    padding:auto;
    border:white solid 2px;
    border-radius: 10px;

}
.contentIconContainer {
    
    z-index:2;
}
.contentIcon {
    width: 60px;
    margin: auto;
     z-index:2;
     opacity: 1;
}
.contentText {
    font-family: felt-tip-roman, sans-serif;
    font-style: normal;
    font-weight: 800;
    width: auto;
    font-size: 36px;
    margin:auto;
    color: var(--primaryColor);
    /* grid-area: iconText; */
    z-index:2;
}

.bannerArea {
    grid-area: banner;
    background-color: var(--primaryColor);
    color:white;
    font-family: felt-tip-roman;
    margin-top: 0px;
    margin-bottom: 0;
    margin-left:auto;
    margin-right: auto;
    
    
    height: 150px;

    width: 70%;
    padding: 0px 0px;
    border-radius: 10px;
    opacity: 65%;
    
    z-index: 2;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.bannerArea h2 {
    font-size: 45px;
    text-align: center;
    vertical-align: center;
    margin: auto;
    opacity: unset;
}